html {
    height: 100%;
}

body {
    background-image: url("https://vignette.wikia.nocookie.net/adaywithbowserjr/images/8/80/CHUNG.png/revision/latest?cb=20200327022009"), linear-gradient(purple, darkblue) ;
    background-repeat: repeat, no-repeat;
    background-size: 5%, 100%;
}

.heading {
    color: lightgray;
    text-align: center;
    text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 100pt;
}

img {
    height: 5%;
    width: 5%;
}
